@charset "utf-8";

/* @font-face {
  font-family: "TheJamsil";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
} */

:root {
  --mw1: 1440px;
  --mw2: 1200px;
  --color-bg: #fcf8fa;
  --color-btn1: #efd2e0;
  --color-btn2: #a463ae;
  --color-point1: #f58cbd;
  --color-point2: #17485c;
}

body {
  background-color: var(--color-bg);
}

.App {
  font-family: "TheJamsil";
  font-weight: 300;
}

.mw1 {
  max-width: var(--mw1);
  width: calc(100% - 2rem);
  margin: auto;
}
.mw2 {
  max-width: var(--mw2);
  width: calc(100% - 2rem);
  margin: auto;
}

/* Intro(sec1) 영역 */
.sec1 {
  /* border: 1px solid red; */
  display: flex;
}
.sec1 > * {
  /* border: 1px solid blue; */
}

.sec1 h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin: 2rem auto;
}

.sec1 .sec1_left,
.sec1 .sec1_right {
  width: 50%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sec1 .sec1_left img,
.sec1 .sec1_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.sec1 .introbox {
  /* border: 1px solid yellow; */
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 80%;
  text-align: center;
  z-index: 10;
}
.sec1 .introbox:hover + img {
  transform: scale(1.1);
}
.sec1 .introbox > * {
  margin-top: 1.5rem;
}
.sec1 .introbox > p:first-of-type {
  font-size: 3rem;
  font-weight: 400;
}

.sec1 .btn_intro {
  border: 1px solid white;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
  font-family: "TheJamsil";
  font-weight: 300;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.sec1 .btn_intro:hover {
  background-color: var(--color-btn2);
  border: 1px solid var(--color-btn2);
}

/* header 영역 */
.hd {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  background-image: url(/public/img/sec2_bg.jpg);
  margin-bottom: 1rem;
}
.hd .hd_logo img {
  /* border: 1px solid blue; */
  margin-top: 2rem;
}

/* Facility 영역 */
.facility {
  /* background-color: var(--color-bg); */
}

.breadcrumb {
  /* border: 1px solid green; */
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.breadcrumb > * {
  padding: 1rem 0.5rem;
  color: white;
  font-size: 1.5rem;
}
.breadcrumb > a:last-of-type {
  font-weight: 400;
}

.facility h2 {
  font-size: 3rem;
  color: var(--color-point1);
  padding: 1rem 0;
}
.facility h2 strong {
  font-weight: 400;
}

.facility .sec2 > p {
  font-size: 20px;
  color: var(--color-point2);
  font-weight: 400;
  /* padding: 1rem 0; */
}

.facility .fac_nav {
  /* border: 1px solid black; */
  background-color: var(--color-btn1);
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* KidsTable(표) 영역 */
.KidsTable {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.KidsTable .lnb {
  /* border: 1px solid blueviolet; */
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.KidsTable .lnb button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-point2);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  color: var(--color-point2);
}
.KidsTable .lnb button:focus,
.KidsTable .lnb button:hover {
  background-color: var(--color-btn2);
  color: white;
  border: 1px solid var(--color-btn2);
}

.KidsTable .tableset {
  flex-grow: 1;
}

.facility_table {
  /* border: 1px solid hotpink; */
  width: 100%;
  margin-bottom: 1rem;
}
.facility_table th {
  /* border: 1px solid yellow; */
  max-width: 180px;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: var(--color-point2);
  border-top: 1px solid var(--color-point2);
  border-bottom: 1px solid var(--color-point2);
  /* margin: 1rem 0; */
}
.facility_table th:nth-of-type(3) {
  /* background-color: aqua; */
  width: calc(100% - 720px);
}

.facility_table tbody tr {
  position: relative;
}
.facility_table tbody tr:hover {
  background-color: #17485c21;
}
.facility_table td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.facility_table .fac_name a {
  /* background-color: rgba(153, 205, 50, 0.13); */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Detail 영역 */
.detail h2 {
  font-size: 3rem;
  color: var(--color-point1);
  font-weight: 400;
  padding: 1rem 0;
}

.detail .place {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.detail .place > * {
  /* border: 1px solid blue; */
}

.detail .place_map {
  width: 50%;
  max-width: 500px;
}
.detail .place_map #map {
  width: 100%;
  height: 100%;
}
.detail .place_desc {
  width: 50%;
}
.place_desc > p {
  border-bottom: 1px solid #d9d9d9;
  margin-left: 2rem;
}
.place_desc > p > span {
  display: inline-block;
  padding: 0.5rem 0;
}
.place_desc > p > span:first-of-type {
  /* border: 1px solid lightgreen; */
  width: 30%;
  font-weight: 400;
}
